
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}

.banner-container{
    
width: 1320px;
border: 1px solid red;
height: 600px;
margin: 0 auto;
margin-top: 20px;

background-image: url(img/Banner\ Image.png);
background-color: rgba(0, 0, 0, 0.5);
background-blend-mode: overlay;
}


.banner-content {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    
}

.banner-content p{
    color: rgb(255, 255, 255);
font-size: 32px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0%;
text-align: center;
}
.banner-content h1{
    color: rgb(255, 255, 255);
font-size: 72px;
font-weight: 900;
line-height: 95px;
letter-spacing: 0%;
text-align: center;
}